@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

.container {
    height: 100vh;
    width: 100vw;
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.7035870378424807) 67%, rgba(252,176,69,1) 100%);
}
.heading {
    width: 100vw;
    height: 90px;
    display: flex;
    padding: 8px;
    /* background: aqua; */
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: sliding 0.8s ease-in;
}

@keyframes sliding {
    0%{ 
        transform: translateX(-500px) 
    }

    100% {
        transform: translateX(0px);
    }
}

.game-window {
    height: 70vh;
    width: 70vw;
    /* background: greenyellow; */
    margin-left: 200px;
    margin-top: 20px;
}

.icon {
    height: 130px;
    width: 100%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}

.option:hover {
    border: 5px solid rgba(0, 0, 0, 0.698);
}
.option {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: 50ms ease-in;
}

.score {
    height: 240px;
    width: 100%;
    /* background: rgba(255, 0, 0, 0.433); */
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

.you {
  text-align: center;
  font-size: 22px;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#you-score{
    font-size: 45px;
}

.comp {
    text-align: center;
    font-size: 22px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#comp-score{
    font-size: 45px;
}

.remark {
    height: 106px;
    width: 100%;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.remark-text {
    height: 45px;
    width: 320px;
    font-size: 25px;
    background: pink;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.698);

}